body {
  background-color: #eee;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#multislider {
  background: #eee;
  border: 1px solid #444;
}

.rslider {
  background: #eee;
  border: 1px solid #444;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}

.mute-button {
  width: 22px; /* Same width as the Rsliders */
  height: 20px;
  margin: 0;
  margin-top: 5px;
  background-color: #eee;
  border: 1px solid #444;
  position: relative;
  cursor: pointer;
}

.mute-button::before,
.mute-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 2px;
  background-color: #444;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.mute-button::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.mute-button.muted {
  background-color: #000;
}

.mute-button.muted::before,
.mute-button.muted::after {
  background-color: #fff;
}

.sliders-row {
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
}

.multislider-column {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

#indexCounter0 {
  margin-top: 6px;
}

.indexCounter {
  margin-top: 2px;
  margin-left: 2px;
}

.presetManager-container {
  margin-left: 5px;
}

.presetManager-container p {
  margin: 2px 3px;
  font-size: 13px;
  color: #555;
}

#presetManager {
  border: 1px solid #444;
}

.dropdown-column {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 8px;
}

.dropdown {
  width: 100px;
}

.dropdown-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-number {
  font-size: 13px;
  color: #444;
  width: 15px;
  text-align: right;
}