body {
  background-color: #eee;
  overflow: hidden;
}

#multislider {
  background: #eee;
  border: 1px solid #444;
}

.rslider {
  background: #eee;
  border: 1px solid #444;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}

.mute-button {
  width: 22px; /* Same width as the Rsliders */
  height: 20px;
  margin: 0;
  margin-top: 5px;
  background-color: #eee;
  border: 1px solid #444;
  position: relative;
  cursor: pointer;
}

.mute-button::before,
.mute-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 2px;
  background-color: #444;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.mute-button::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.mute-button.muted {
  background-color: #000;
}

.mute-button.muted::before,
.mute-button.muted::after {
  background-color: #fff;
}

.sliders-row {
  display: flex;
  align-items: flex-start;
}